name: AMTL
channels:
  - conda-forge
  - defaults
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=2_gnu
  - bzip2=1.0.8=h7f98852_4
  - ca-certificates=2022.9.24=ha878542_0
  - ld_impl_linux-64=2.39=hc81fddc_0
  - libffi=3.4.2=h7f98852_5
  - libgcc-ng=12.2.0=h65d4601_19
  - libgomp=12.2.0=h65d4601_19
  - libnsl=2.0.0=h7f98852_0
  - libsqlite=3.40.0=h753d276_0
  - libuuid=2.32.1=h7f98852_1000
  - libzlib=1.2.13=h166bdaf_4
  - ncurses=6.3=h27087fc_1
  - openssl=3.0.7=h166bdaf_0
  - pip=22.3.1=pyhd8ed1ab_0
  - python=3.8.13=ha86cf86_0_cpython
  - readline=8.1.2=h0f457ee_0
  - setuptools=65.5.1=pyhd8ed1ab_0
  - sqlite=3.40.0=h4ff8645_0
  - tk=8.6.12=h27826a3_0
  - wheel=0.38.4=pyhd8ed1ab_0
  - xz=5.2.6=h166bdaf_0
  - pip:
      - blinker==1.6.2
      - blis==0.7.9
      - catalogue==2.0.8
      - certifi==2022.12.7
      - charset-normalizer==3.1.0
      - click==7.1.2
      - contourpy==1.0.7
      - cycler==0.11.0
      - cymem==2.0.7
      - en-core-web-md==3.0.0
      - en-core-web-sm==3.0.0
      - filelock==3.11.0
      - flask==2.3.1
      - fonttools==4.39.3
      - idna==3.4
      - importlib-metadata==6.6.0
      - importlib-resources==5.12.0
      - itsdangerous==2.1.2
      - jinja2==3.1.2
      - joblib==1.2.0
      - jsonpickle==1.1
      - kiwisolver==1.4.4
      - markupsafe==2.1.2
      - matplotlib==3.3.2
      - murmurhash==1.0.9
      - numpy==1.19.0
      - packaging==23.0
      - pathy==0.10.1
      - pillow==9.5.0
      - preshed==3.0.8
      - pydantic==1.7.4
      - pyparsing==3.0.9
      - python-dateutil==2.8.2
      - pytz==2023.3
      - regex==2023.3.23
      - requests==2.28.2
      - sacremoses==0.0.53
      - scikit-learn==1.2.2
      - scipy==1.9.3
      - sentencepiece==0.1.97
      - six==1.16.0
      - sklearn==0.0
      - smart-open==6.3.0
      - spacy==3.0.0
      - spacy-legacy==3.0.12
      - srsly==2.4.6
      - thinc==8.0.17
      - threadpoolctl==3.1.0
      - tokenizers==0.8.1rc1
      - torch==1.13.0+cu116
      - torchaudio==0.13.0+cu116
      - torchvision==0.14.0+cu116
      - tqdm==4.48.1
      - transformers==3.0.2
      - typer==0.3.2
      - typing-extensions==4.5.0
      - urllib3==1.26.15
      - wasabi==0.10.1
      - werkzeug==2.3.0
      - zipp==3.15.0